.searchbar {
    display: flex;
    justify-content: center;
}

.search-form {
    width: 60%;
    background: #f8f7f9;
    border-radius: 10px;
    margin-left: 20px;
    padding: 20px;
    position: absolute;
    top: 380px;
}

.places {
    display: flex;
    gap: 10px;
    border-radius: 10px;
    background: white;
    width: 95%;
    padding: 20px;
    margin: 20px;
}

.main-content {
    display: flex;
}

.place-label input {
    width: 400px;
    font-size: 16px;
    color: #2a2a2e;
    font-weight: 400;
    border: none;
    border-bottom: none;
    outline: none;
    padding: 5px;
    background: none;

}

.dates input {
    font-size: 16px;
    color: #2a2a2e;
    font-weight: 400;
}

.guestlabel {
    display: flex;
}

.guest input {
    width: 400px;
    font-size: 16px;
    color: #2a2a2e;
    font-weight: 400;
}

/* .dates {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    background: white;
    width: 550px;
    padding: 20px;
    margin: 20px;
} */

.guest {
    grid-area: header;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    background: white;
    align-items: center;
    width: 400px;
    padding: 20px;
    margin: 20px;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.dates {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
    background: white;
    width: 550px;
    padding: 20px 10px;
    margin: 20px;
}

.check-in-dlabel {
    display: flex;
    gap: 10px;
    height: 50px;
}

.check-out-dlabel {
    display: flex;
    gap: 10px;
    height: 50px;
}

.date-picker {
    border-bottom: none;
    border: none;
    outline: none;
    padding: 5px;
    background: none;
}

.options {
    position: absolute;
    top: 200px;
    left: 75%;
    transform: translateX(50%);
    background: #000;
    height: 200px;
    width: 200%;
    text-align: center;
}

.places .icon,
.dates .icon,
.guest .icon {
    font-size: 30px;
    align-self: center;
    color: rgb(95, 97, 97);
}

.btn-label {
    justify-content: center;
    display: flex;
}

.btn-label button {
    position: relative;
    border: none;
    user-select: none;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(83, 146, 249);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
    transition: all 0.15s ease-in-out 0s;
    width: 500px;
    text-transform: uppercase;
    height: 70px;
    cursor: pointer;
    font-size: 24px;
    top: 50px;
}

/* .dropdown {
    width: 350px;
    height: 200px;
    background: #f0eeee;
    border-radius: 5px;
    display: grid;
    position: sticky;
    margin-top: -100px;
    float: right;
    margin-right: 600px;
} */

.guest-content {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.guests {
    display: flex;
    gap: 80px;
    padding: 20px 30px;
}

.guest-actions {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

/* .guestlabel {
    width: 100%;
} */

.rooms {
    display: flex;
    gap: 80px;
    padding: 20px 30px;
}

.room-content {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sub {
    font-size: 35px;
    cursor: pointer;
}

.add {
    font-size: 38px;
    cursor: pointer;
}

.valuess p {
    font-size: 30px;
}

.guestlabel {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.room-actions {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.dates {
    display: flex;
    flex-wrap: wrap;
}



/* Add Media Query */

/* @media screen and (min-width: 1600px) and (max-width: 1800px) {
    .searchbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
    }

    .search-form {
        width: 60%;
        background: #f8f7f9;
        border-radius: 10px;
        margin-left: 20px;
        padding: 20px;
    }

    .place-label {
        width: 50%;
    }

    .main-content {
        display: flex;
        flex-direction: column;
    }

    .dates {
        width: 90%;
    }

    .guest {
        display: flex;
        width: 90%;
    }

    .guestlabel {
        display: flex;
    }

    .btn-label button {
        display: flex;
        justify-content: center;
        align-self: center;
    }

} */

@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .searchbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
    }

    .search-form {
        width: 60%;
        background: #f8f7f9;
        border-radius: 10px;
        margin-left: 20px;
        padding: 20px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
    }

    .dates {
        width: 90%;
    }

    .guest {
        display: flex;
        width: 90%;
    }

    .guestlabel {
        display: flex;
    }

    .selectoption {
        display: flex;
    }

    .btn-label button {
        display: flex;
        justify-content: center;
        align-self: center;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {

    .searchbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
    }

    .search-form {
        width: 60%;
        background: #f8f7f9;
        border-radius: 10px;
        margin-left: 20px;
        padding: 20px;
    }

    .main-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .dates {
        width: 100%;
    }

    .guest {
        width: 100%;
    }

    .place-label input {
        height: 30px;
        justify-content: center;
    }

    .btn-label button {
        height: 60px;
        width: 400px;
    }

}


@media screen and (min-width: 729px) and (max-width: 999px) {
    .searchbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
    }

    .search-form {
        width: 60%;
        background: #f8f7f9;
        border-radius: 10px;
        margin-left: 20px;
        padding: 20px;
    }

    .main-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .dates {
        display: flex;
        width: 90%;
    }

    .guest {
        width: 100%;
    }

    .btn-label button {
        height: 60px;
        width: 400px;
    }
}

@media screen and (min-width: 616px) and (max-width: 728px) {
    .searchbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
    }

    .search-form {
        width: 70%;
        background: #f8f7f9;
        border-radius: 10px;
        margin-left: 20px;
        padding: 20px;
    }

    .main-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }


    .check-in-dlabel {
        display: flex;
        flex-wrap: wrap;
    }

    .check-out-dlabel {
        display: flex;
        flex-wrap: wrap;
    }

    .btn-label button {
        height: 50px;
        line-height: 30px;
        width: 300px;
    }
}

@media screen and (max-width: 615px) {
    .searchbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
    }

    .search-form {
        width: 100%;
        background: #f8f7f9;
        border-radius: 10px;
        margin-left: 20px;
        padding: 20px;
    }

    .main-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .btn-label button {
        height: 50px;
        line-height: 30px;
        width: 300px;
    }

    .popup {
        position: absolute;
        right: 300px;
        top: 40px;
    }
}